@import url("colors.css");

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #cdd2eb;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple-light);
  border-radius: 32px;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 16px 20px;
  background: var(--primary-dark);
}

.header-block__left {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.hamburguer {
  display: none;
}

.hamburguer__action {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 4px 4px;
}

.hamburguer__item {
  display: block;
  width: 18px;
  height: 1px;
  background-color: var(--neutral);
  border-radius: 100px;
  margin: 4px 0;
}

.hamburguer__item:before,
.hamburguer__item:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  height: 1px;
  border-radius: 100px;
  background-color: var(--neutral);
}

.hamburguer__item:before {
  width: calc(100% - 6px);
  top: 4px;
}

.hamburguer__item:after {
  width: calc(100% - 6px);
  bottom: 5px;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}

.company__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral);
}

/* User Actions */

.user-actions {
  position: relative;
}

.user-actions__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 24px;
}

.user-actions__item {
  position: relative;
  line-height: 0;
}

.user-actions-item__notification-circle {
  display: none;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background: var(--feedback-helper);
  top: 0;
  right: 4px;
}

.user-actions-item__notification-circle--active {
  display: block;
}

.user-actions-item__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}

.user-actions-item__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral);
}

/* Dropdown menu */

.dropdown-menu {
  visibility: hidden;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  background: var(--neutral);
}

.dropdown-menu__text {
  display: block;
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: var(--neutral-low);
  cursor: pointer;
}

/* Dropdown Help */

.user-actions__item:hover .dropdown-menu {
  visibility: visible;
  animation: show-up 0.3s forwards;
}

.dropdown__help {
  padding: 24px 24px 28px;
  width: 200px;
  top: 38px;
  left: -80px;
}

.dropdown__help:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  position: absolute;
  border-bottom-color: var(--neutral);
  border-width: 8px;
  margin-left: -16px;
}

.dropdown-help__text {
  margin-bottom: 8px;
}

.dropdown-help__highlight-text {
  cursor: pointer;
  display: block;
  padding: 16px 0 12px;
  margin-top: 8px;
  border-top: 1px solid var(--primary-low);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--purple-light);
}

/* Dropdown Notification */

.dropdown__notification {
  width: 340px;
  padding: 24px 24px 16px;
  top: 38px;
  left: -150px;
}

.dropdown__notification:after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  border-bottom-color: var(--neutral);
  border-width: 8px;
  margin-left: -16px;
}

.dropdown-notification__header {
  display: flex;
  align-items: center;
  gap: 0 8px;
  margin-bottom: 8px;
}

.hand-icon__wrapper {
  width: 14px;
  height: 18px;
  line-height: 0;
}

.dropdown-notification__title {
  width: min(100%, 204px);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: var(--primary);
}

.dropdown-notification__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.dropdown-notification__circle {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: var(--feedback-helper);
}

.dropdown-notification__description {
  display: block;
  padding: 0 22px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-medium);
  margin-bottom: 16px;
}

.introduction-progress {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0 12px;
}

.introduction-progress:first-child {
  padding-bottom: 32px;
}

.introduction-progress:last-child {
  margin-bottom: 24px;
}

.introduction-progress:first-child:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 9px;
  width: 2px;
  height: 32px;
  background: var(--primary);
}

.introduction-progress__text {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: var(--primary);
}

.introduction-progress__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--purple-light);
}

.dropdown-notification__monthly-report {
  padding: 15px 0;
  border-top: 1px solid var(--primary-low);
  border-bottom: 1px solid var(--primary-low);
}

.monthly-report--top {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.monthly-report__icon {
  width: 14px;
  height: 18px;
}

.monthly-report__text {
  width: min(100%, 225px);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: var(--primary);
}

.monthly-report__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}

.monthly-report__link {
  padding-left: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--purple-light);
}

.monthly-report__mark-as-reader {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--purple-light);
  margin-top: 17px;
  padding: 12px 72.5px;
}

/* User Menu */

.dropdown__user {
  width: 224px;
  padding: 24px;
  top: 46px;
  right: 0;
}

.dropdown__user:after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  border-bottom-color: var(--neutral);
  border-width: 8px;
  margin-left: -16px;
}

.dropdown-user__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-low);
  padding-bottom: 17px;
  border-bottom: 1px solid var(--primary-low);
  margin-bottom: 16px;
}

.user__highlight {
  color: var(--purple-light);
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Main Content */

.main-content {
  background: var(--primary-low);
  display: flex;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: 64px;
  left: 0;
  width: min(100%, 244px);
  height: calc(100vh - 64px);
  background: var(--neutral);
  overflow-y: auto;
}

/* Navbar List */

.nav__list {
  padding: 16px;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 0 16px;
  width: min(100%, 212px);
  padding: 12px 8px;
  border-radius: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: var(--neutral-low);
  transition: all 0.3s ease-in-out;
}

.nav__item:not(:last-child) {
  margin-bottom: 4px;
}

.nav__link.nav__link--active {
  color: var(--purple-light);
}

.nav__link:hover {
  background: var(--primary-low);
  color: var(--purple-light);
}

.nav__link:hover .nav__dropdown-icon path {
  stroke: var(--purple-light);
}

.nav__dropdown-icon {
  margin-left: auto;
  line-height: 0;
  transition: all 0.3s ease;
}

/* Dropdown menu */

.dropdown__list {
  overflow-y: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}

.dropdown__item {
  padding-left: 16px;
}

.dropdown__item:first-child {
  padding-top: 16px;
}

.dropdown__item:last-child {
  padding-bottom: 16px;
}

.nav__item--selected .dropdown__list {
  max-height: 300px;
}

.dropdown__link {
  display: block;
  padding: 12px 0 12px 27px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-low);
  border-left: 2px solid var(--neutral-hight);
}

.dropdown__link:hover,
.dropdown__link--selected {
  color: var(--purple-light);
  border-color: var(--purple-light);
}

.nav__item--selected .nav__dropdown-icon {
  transform: rotate(180deg);
}

/* Upgrade account */

.sidebar__upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 212px);
  margin: 70px auto 10px;
  padding: 24px 16px 16px;
  background: var(--primary-low);
  border-radius: 12px;
}

.upgrade-image__wrapper {
  width: 32px;
  height: 32px;
}

.sidebar-upgrade__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.005em;
  color: var(--primary);
  margin-top: 8px;
  margin-bottom: 16px;
}

.sidebar-upgrade__button {
  background: var(--purple-light);
  padding: 8px 29px;
  border-radius: 8px;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--neutral);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.sidebar-upgrade__button:hover {
  background: var(--purple-default);
}

/* Main */

.main {
  padding: 16px 32px;
  width: calc(100% - 244px);
}

/* Release */

.release {
  display: flex;
  align-items: center;
  gap: 0 16px;
  width: 100%;
  padding: 20px 20px 20px 34px;
  background: var(--purple-light);
  border-radius: 8px;
  margin-bottom: 24px;
}

.release-icon__wrapper {
  width: 32px;
  height: 32px;
}

.release__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral);
}

.release__new-tool {
  width: min(100%, 220px);
  border: 2px solid var(--neutral);
  border-radius: 8px;
  padding: 6px 14px;
  margin-left: auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--neutral);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
}

.release__new-tool:hover {
  background: var(--neutral);
  color: var(--purple-light);
}

/* Data Resume */

.data-resume__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary);
  margin-bottom: 16px;
}

.data-resume__list {
  display: flex;
  gap: 0 8px;
  overflow-x: scroll;
}

.data-resume__list::-webkit-scrollbar {
  display: none;
}

/* Input Radio Custom */

.data-resume__input {
  display: none;
}

.data-resume__label {
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  padding: 6px 14px;
  border: 2px solid var(--neutral);
  background: var(--neutral);

  color: var(--neutral-low);
  border-radius: 8px;
  transition: all 25ms ease-in-out;
}

.data-resume__label:hover {
  color: var(--purple-light);
  border-color: var(--purple-light);
}

.data-resume__input:hover + label .data-resume__dropdown-icon path {
  stroke: var(--purple-light);
}

.data-resume__input:checked + label .data-resume__dropdown-icon path {
  stroke: var(--neutral);
}

.data-resume__input:checked + label {
  background: var(--purple-light);
  border-color: var(--purple-light);
  color: var(--neutral);
}

.data-resume__dropdown-icon {
  margin-left: 8px;
}

/* Data resume description */

.data-resume__description {
  margin: 16px 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-medium);
}

.data-resume__description--highlight {
  color: var(--purple-light);
}

/* General Report Sections */

.general-report {
  display: flex;
  align-items: center;
  gap: 0 64px;
  width: 100%;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 8px;
  background: var(--neutral);
}

.general-report--left {
  width: 100%;
}

.general-report--resize {
  width: min(100%, calc(100% - 404px));
}

.general-report__header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.general-report-icon__wrapper {
  width: 24px;
  height: 24px;
}

.general-report__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary);
}

.general-report__input {
  display: none;
}

.general-report__list {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: scroll;
}

.general-report__list::-webkit-scrollbar {
  display: none;
}

.general-report__label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: var(--neutral-medium);
  padding-bottom: 12px;
  border-bottom: 2px solid var(--neutral);
}

.general-report__label:hover {
  border-bottom: 2px solid var(--primary);
}

.general-report__input:checked + label {
  color: var(--purple-light);
  border-bottom: 2px solid var(--purple-light);
}

.general-report-wrapper__main {
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid var(--neutral-light);
}

.loader {
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show-up 0.1s forwards;
}

.loader__icon path,
.loader__icon rect {
  fill: var(--purple-light);
}

/* Chart */

.data-cards-sells__list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-top: 7px;
  margin-bottom: 48px;
  overflow-x: scroll;
  animation: show-up 0.5s forwards;
}

.data-cards-sells__list::-webkit-scrollbar {
  display: none;
}

.data-cards-sells__item {
  flex-grow: 1;
}

.data-card-sells {
  display: flex;
  align-items: center;
  gap: 0 16px;
  white-space: nowrap;
  background: var(--neutral);
  border: 2px solid var(--primary-low);
  border-radius: 12px;
  padding: 10px;
}

.data-card-sells__icon-wrapper {
  line-height: 0;
  padding: 8px;
  background: var(--primary-low);
  border-radius: 12px;
}

.data-card-sells__description {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-medium);
}

.data-card-sells__value {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
  color: var(--neutral-low);
}

.resells-select {
  width: min(100%, 280px);
  padding: 9px 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary);
  letter-spacing: -0.005em;
  border-radius: 8px;
  border: 1px solid #999999;
  appearance: none;
  background: no-repeat
    url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50024 9.75L12.0002 14.25L16.5002 9.75' stroke='%23555555' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: 240px center;
  animation: show-up 0.5s forwards;
}

.resells-select:hover {
  background: no-repeat
    url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50024 9.75L12.0002 14.25L16.5002 9.75' stroke='%23425DC7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: 239px center;
  padding: 8px 15px;
  border: 2px solid var(--purple-light);
}

/* General report right side */

.general-report--right {
  width: min(100%, 340px);
  align-self: flex-start;
  padding: 22px;
  border: 2px solid #f1f2f9;
  border-radius: 8px;
  animation: show-up 0.5s forwards;
}

.resells-ranking__header {
  display: flex;
  align-items: center;
  gap: 0 12px;
  margin-bottom: 24px;
}

.resells-ranking__image-wrapper {
  line-height: 0;
}

.resells-ranking__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary);
}

/* resells list */

.resells-ranking__list {
  width: 100%;
  height: 244px;
  margin-bottom: 24px;
  padding-right: 16px;
  overflow-y: auto;
}

.resells-ranking__list::-webkit-scrollbar {
  width: 4px;
}

.resell-wrapper {
  display: grid;
  grid-template-columns: 24px 1fr;
  place-items: center;
  gap: 16px;
}

.resell__indice {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary);
}

.resell-info-wrapper {
  width: min(100%, 232px);
  display: grid;
  grid-template-columns: 40px 1fr;
  place-items: center;
  gap: 16px;
}

.resell-info {
  padding: 6px 0;
}

.resells-ranking__item,
.resell-info {
  width: 100%;
}

.avatar-circle__icon {
  background: var(--primary-low);
  color: var(--purple-light);
  text-align: center;
  border-radius: 100px;
}

.reseller-avatar {
  width: 40px;
  height: 40px;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.company-logo {
  width: 32px;
  height: 32px;
  padding: 8px 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.005em;
}

.resell__name {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary);
}

.resell-orders-wrapper,
.resell-orders__percentage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resell-orders__percentage {
  gap: 0 2px;
}

.resell__orders {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-medium);
}

.resell-orders__percentage {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
}

.resell-orders__percentage--success {
  color: var(--feedback-success);
}

.resell-orders__percentage--negative {
  color: var(--feedback-helper);
}

.see-all-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 23px;
  border-top: 2px solid var(--primary-low);
}

.resells-ranking__see-all {
  padding: 6.5px 14.5px;
  border: 1.5px solid var(--purple-light);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--purple-light);
  transition: all 0.3s ease;
}

.resells-ranking__see-all:hover {
  background: var(--purple-light);
  color: var(--neutral);
}

.resells-select ~ .chart-wrapper {
  margin-top: 24px;
  height: 291px;
}

/* Chart */

.chart-wrapper {
  width: 100%;
  height: 323px;
  margin-top: 32px;
}

.data-cards-sells__list + .chart-wrapper {
  height: 228px;
}

/* Insights Section */

.insights {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background: var(--neutral);
}

.insights__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.insights__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--primary);
}

/* Insights table */

.insights-wrapper-table__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--neutral-medium);
  margin-top: 32px;
  margin-bottom: 36px;
}

.insights__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.insights-table__thead {
  padding-bottom: 11px;
  border-bottom: 1px solid var(--neutral-light);
}

.insights-table__title {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-medium);
}

.col-1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 4px;
}

.col-5 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.insights-table__trow:nth-child(even) td {
  background: var(--primary-low);
}

/* Table Typography */

.insights-table__product-indice {
  width: 16px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--purple-light);
  margin: 0 auto;
}

.insights-table__product-description {
  display: flex;
  align-items: center;
  gap: 0 16px;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-low);
}

.insights-table__product-text {
  display: block;
  padding: 18px 0;
  font-size: 12px;
  line-height: 20px;
  color: var(--neutral-low);
}

/* Insights Navbar */

.insights__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.quantity__text {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-low);
}

.quantity__select {
  padding: 6.5px 12px;
  margin: 0 8px;
  border-radius: 8px;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-low);
}

.quantity__select:hover {
  padding: 5.5px 11px;
  border: 2px solid var(--purple-light);
}

/* Insights pagination */

.insights__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
}

.insights-pagination__input {
  display: none;
}

.insights-pagination__label {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-low);
  border-radius: 100px;
}

.insights-pagination__input:checked + label {
  background-color: var(--purple-light);
  color: var(--neutral);
}

.insights-pagination__input:not(:checked):hover + label {
  background: var(--primary-low);
  color: var(--purple-light);
}

.pagination__arrow-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-low);
  border-radius: 100px;
}

.pagination__arrow-wrapper:hover {
  background: var(--purple-light);
}

.pagination__arrow-wrapper:hover .pagination__arrow-icon path {
  stroke: var(--neutral);
}

@media screen and (max-width: 1130px) {
  .hamburguer {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
    padding: 16px;
  }

  .insights-table__trow {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
  }

  .insights-table__trow:nth-child(even) {
    background: var(--primary-low);
    border-radius: 8px;
  }

  .col-1 {
    order: 2;
    align-self: center;
    padding: 0;
    margin-right: 20px;
  }

  .col-2 {
    order: 1;
    flex-basis: 100%;
  }

  .col-3 {
    order: 3;
  }

  .col-5 {
    margin-left: auto;
    order: 4;
  }

  .insights-wrapper-table__title {
    margin-bottom: 16px;
  }

  thead,
  .col-4 {
    display: none;
  }

  .insights-table__trow {
    padding: 8px;
  }

  .col-3,
  .col-5 {
    padding: 2px 0;
  }

  .insights-table__product-text.col-3 {
    padding-top: 10px;
  }

  .insights-table__product-text:not(:last-child) {
    padding-right: 16px;
  }
}

@media screen and (min-height: 860px) {
  .sidebar::-webkit-scrollbar {
    width: 0;
  }
}

@media screen and (max-width: 884px) {
  .release__new-tool {
    display: none;
  }

  .general-report {
    justify-content: center;
    flex-direction: column;
    gap: 24px 0;
  }

  .general-report--left {
    width: 100%;
  }

  .general-report--right {
    margin: 0 auto;
    padding: 16px;
  }

  .see-all-button-wrapper {
    padding-top: 15px;
  }
}

@media screen and (max-width: 490px) {
  .header {
    padding: 8px 16px;
  }

  .user-actions__list {
    gap: 0 16px;
  }

  .user-actions-item__name {
    display: none;
  }

  .dropdown__help,
  .dropdown__notification,
  .dropdown__menu {
    display: none;
  }

  .release {
    padding: 18px 20px;
  }

  .release__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .general-report,
  .insights {
    padding: 16px 16px 24px;
  }

  .general-report__list {
    gap: 0 16px;
  }

  .general-report__label {
    font-size: 14px;
  }

  .resells-ranking__header {
    margin-bottom: 16px;
  }

  .insights-table__product-text {
    padding: 0;
  }

  .insights__navbar {
    flex-direction: column;
    gap: 16px 0;
  }
}
